@using WebApplication.ViewModels
@model ViewModel

@{
    ViewData["Title"] = "Displaying information about countries";
}

<h4>Информация по всем странам</h4>
<br />

<table border="1" width="900" style="border-collapse:collapse;">
    <tr><th>Название</th><th>Код</th><th>Столица</th><th>Площадь</th><th>Население</th><th>Регион</th></tr>
    @{
        foreach (var country in Model.countries)
        {
            <tr>
                <td>@country.name</td>
                <td>@country.code</td>
                <td>@country.city.name</td>
                <td>@country.area</td>
                <td>@country.population</td>
                <td>@country.region.name</td>
            </tr>
        }
    }
</table>
