@using WebApplication.ViewModels
@model ViewModel

@{
    ViewData["Title"] = "Find country";
}

<form method="POST">
    <h4>Информация по одной стране</h4><br />

    <p>Название: <input style="margin-left: 20px; width:350px" type="text" asp-for="Name" value="@Model.Name" readonly /></p>
    <p>Код: <input style="margin-left: 63px; width:350px" type="text" asp-for="Code" value="@Model.Code" readonly /></p>
    <p>Столица: <input style="margin-left: 29px; width:350px" type="text" asp-for="City" value="@Model.City" readonly /></p>
    <p>Площадь: <input style="margin-left: 23px; width:350px" type="number" asp-for="Area" value="@Model.Area" readonly /></p>
    <p>Население: <input style="margin-left: 11px; width:350px" type="number" asp-for="Population" value="@Model.Population" readonly /></p>
    <p>Регион: <input style="margin-left: 39px; width:350px" type="text" asp-for="Region" value="@Model.Region" readonly /></p>

    <input type="submit" value="Сохранить информацию" asp-action="SaveInfo" />
    <input style="margin-left: 90px;" type="submit" value="Вернуться к поиску" asp-action="Index" />
</form>
